
*{
    font-family: sans-serif;
    margin: 0px;
    color: rgba(255, 255, 255, 0.562);
}
h1,h2,h3,h4{
    color: #fff;
}

.App{
    padding: 20px;                     
    background-image: linear-gradient(rgba(90, 90, 90, 0), rgba(100, 100, 100, 0)),
                  url("https://2.bp.blogspot.com/-43QV3BXH6Fo/W8Rei3pGpDI/AAAAAAAADvI/AAz49QOpFTAqTT6w5JDbloS9zJV-G2ldACLcBGAs/s1600/fantasy%2Bbook%2Blevitation.jpg");
                  background-repeat: no-repeat; 
                  background-size:     cover; 
                  background-position: center center;
}

.topReadBooks{
    width: 90%;
    margin: auto;
    display:  grid;
    grid-template-columns: repeat(4,1fr);
    gap: 1rem;
    justify-content: center;
    align-items: center;
}

.card{
    margin-top: 20px;
    border: 2px solid rgba(255, 255, 255, 0.747);
    /* padding: 2px; */
    border-radius: 20px;
    cursor: pointer;
    transition: 0.3s;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.164);
}
.card:hover{
    padding: 3px;
    border: 10px solid rgba(60, 255, 229, 0.493);
    background-color: rgba(0, 133, 77, 0.295);
}

.book_image{
    width: 100%;
    border-radius: 20px;
}

.title {
    text-align: center;
}
 
.cardContent{
    padding: 10px;
}




@media (min-width: 650px)and (max-width:950px){
    .topReadBooks{
        grid-template-columns: repeat(3,1fr);
    }
   
}
@media (min-width: 550px)and (max-width:650px){
    .topReadBooks{
        grid-template-columns: repeat(2,1fr);
    }
    
}
@media (min-width: 250px)and (max-width:550px){
    .topReadBooks{
        grid-template-columns: repeat(1,1fr);
    }
}



.navbar{
    background-color: rgba(107, 184, 255, 0.274);
    width: 70%;
    height: 4rem;
    margin: auto;
    border-radius: 50px;
    margin-bottom: 30px;
    padding-left: 40px;
    padding-right: 40px;
}
.input{
    width: 400px;
    border-radius: 50px;
    height: 2.5rem;
}
.logo{
    width: 5%;
    border-radius: 50%;
    cursor: pointer;
}
.navbarContent>h5:hover{
    cursor: pointer;
    color: rgba(78, 228, 255, 0.603);
}                                           